@import "tailwindcss";

@font-face {
  font-family: 'RRRClimax';
  src: url('/assets/fonts/RRRClimax-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/assets/fonts/PlayfairDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-bg: #fcd62c;
  --color-accent: #ff4d00;
  --color-text: #000000;

  --font-display: 'RRRClimax', sans-serif;
  --font-body: 'PlayfairDisplay', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
}

/* FONTS */
@font-face {
  font-family: 'HEADERF';
  src: url("../../public/fonts/RRRClimax-100.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: 'BODYF';
  src: url("../../public/fonts/") format("woff2");
  font-weight: normal;
}


/* PACKAGES */
@import "tailwindcss"

/* DESIGN TOKENS */

/* BASE STYLES */

/* TYPOGRAPHY DEFAULTS */

/* GLOBAL LAYOUT */

/* GLOBAL COMPONENT STYLES */

/* ANIMATIONS AND KEYFRAMES */

/* UTILITES */