
/* =================================================================
For different screen sizes
==================================================================*/

/*
@media (max-width: 320px) {
    body{
        position: relative;
        height: 100%;
        margin: 0;
        font-family: 'Recoleta', sans-serif;
        background-color: #000000;
        color: #d8bb9a;  
        font-size: 100px;
    }
}


@media (max-width: 600px) {
    body{
        max-width: 600px;
        position: relative;
        height: 100%;
        margin: 0;
        font-family: 'Recoleta', sans-serif;
        background-color: #000000;
        color: #fbf4ec;  
        font-size: 100px;
    }
}

@media (max-width: 1280px) {
    body{
        max-width: 1280px;
        position: relative;
        height: 100%;
        margin: 0;
        font-family: 'Recoleta', sans-serif;
        background-color: #000000;
        color: #fbf4ec;  
        font-size: 100px;
    }
}

@media (max-width: 1440px) {
    body{
        max-width: 1440px;
        position: relative;
        height: 100%;
        margin: 0;
        font-family: 'Recoleta', sans-serif;
        background-color: #000000;
        color: #fbf4ec;  
        font-size: 100px;
    }
}
*/
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    width: 100vw; /*Width 100 percent of the screen*/
    height: 100vh; /*Height 100 percent of the screen*/
    margin: 0rem; 
    overflow: hidden; /*no scroll bars*/
    overflow-y: scroll;
    font-family: 'Recoleta', sans-serif;
    background-color: #000000;
    color: #fbf4ec;  
    font-size: 100px;
}

nav{
    position: relative;
    top: 50px;
    max-width: 1920px;
    margin-left: 7.5vw;
    height: 10px;
    background-color: inherit;
    font-size: 40px;
    font-family: inherit;

    a{
        align-items: end ;
        text-decoration: none;
        margin-right: 50px;
        color: inherit;
    }

    button{
        text-decoration: none;
        margin-right: 50px;
        color: inherit;
        outline: 0;
        outline-color: #000000;
        font-family: inherit;
        font-size: inherit;
        background-color: #000000;
    }
    
}

h1{
    margin-top: 300px;
    margin-left: 15vw;
    p{
        margin: 0px;
        font-family: inherit;
        color: inherit;
        font-size: 150px;
    }
}

h2{
    margin-top: ;
    margin-left: 5vw;
    font-size: 72px;
}

h3{
    font-size: 48px;
}

p{
    font-size: 20px;
    font-family: 'Arial';
    color: inherit;
    margin-left: 2rem;
    margin-right: 5rem;
}

.projects{
}

.section{
    a{
        
        margin-right: 100px;
        font-size: 28px;
        color:#fbf4ec;
        text-decoration: ;
    }
}
